name: Build OpenWrt v24.10.4 for x86-64

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Update and install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential ccache ecj fastjar file g++ gawk \
          gettext git java-propose-classpath java-wrappers jq libelf-dev libffi-dev \
          libncurses5-dev libncursesw5-dev libssl-dev python3 python3-pyelftools \
          python3-setuptools unzip wget python3-dev zlib1g-dev bison flex \
          subversion quilt xsltproc gperf gengetopt liberror-perl \
          libgmp3-dev libmpc-dev libmpfr-dev texinfo patch curl \
          autoconf automake libtool pkg-config rsync kmod

    - name: Checkout OpenWrt source
      run: |
        git clone https://git.openwrt.org/openwrt/openwrt.git
        cd openwrt
        git fetch origin
        git checkout -b openwrt-24.10 origin/openwrt-24.10

    - name: Update feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
    
    - name: Copy custom .config
      run: |
        cp ../.config   .config
      working-directory: openwrt
    
    - name: Load default configuration for x86-64
      run: |
        cd openwrt
        make defconfig

    - name: Download dependencies
      run: |
        cd openwrt
        make download -j$(nproc)

    - name: Build OpenWrt
      run: |
        cd openwrt
        make -j$(nproc) V=s

    - name: Upload firmware artifacts
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-firmware
        path: openwrt/bin/targets/x86/64/*
